body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}
li {
  list-style: none;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.center {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
::-webkit-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
::-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
/* Firefox 19+ */
:-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
/* Firefox 18- */
:-ms-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis;
}
.up-button {
  position: fixed;
  display: none;
  width: 30px;
  height: 30px;
  line-height: 28px;
  top: 80%;
  right: 2%;
  text-align: center;
  background: gray;
  color: #fff;
  z-index: 100;
}
@media (max-width: 767px) {
  .up-button {
    right: 8%;
  }
}
.up-button:hover {
  opacity: .5;
}
.orange-square {
  display: inline-block;
  vertical-align: vat;
  padding: 0 10px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  border: none;
  color: #fff;
  background: #e07326;
  -webkit-transition: .3s;
  transition: .3s;
}
.orange-square:hover,
.orange-square:focus {
  text-decoration: none;
  color: #fff;
  background: #ff8b38;
}
.transparent-square {
  display: inline-block;
  vertical-align: vat;
  padding: 0 10px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}
.transparent-square:hover,
.transparent-square:focus {
  text-decoration: none;
  color: #fff;
  background: #505050;
}
